{% extends 'base.html' %}
{% load static %}

{% block title %}ITest{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi-terminal"></i>
                <span>ITest</span>
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'tests' %}" id="tests-link">Тесты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'add_test' %}">Добавить тест</a>
                    </li>
                </ul>


                <div class="ms-auto me-4">
                    <a href="{% url 'logout' %}" class="btn custom-btn mt-3 mt-lg-4">Выход</a>
                </div>

            </div>
        </div>
    </nav>

    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12">

                    <h1 class="text-white">{{ test_set.title }}</h1>
                    <p class="text-white">{{ test_set.description }}</p>
                </div>

            </div>
        </div>
    </header>


    <section class="section-padding">
        <div class="container">
            <div class="row">


                <div class="col-lg-8 col-12 mt-3 mx-auto">
                    <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5 text-center"
                         style="margin-bottom: 65%;">

                        <div class="custom-block-topics-listing-info">
                            <div>
                                {% if show_result %}
                                    <h2>Результаты</h2>
                                    <p>Количество правильных ответов: {{ correct_answers|length }}
                                        / {{ questions|length }}</p>
                                    <form action="{% url 'test' test_set.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" name="retry">Повторить тест</button>
                                    </form>
                                {% else %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <h3>{{ current_question.text }}</h3>
                                        {{ form.selected_answer }}
                                        <button type="submit">Next</button>
                                    </form>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 col-12">
                    <!-- Pagination code -->
                </div>

            </div>
        </div>
    </section>




{% endblock %}
