{% extends 'base.html' %}
{% load static %}

{% block title %}ITest{% endblock %}

{% block content %}

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="bi-terminal"></i>
                <span>ITest</span>
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll active" href="{% url 'tests' %}" id="tests-link">Тесты</a>
                    </li>
                </ul>


                <div class="ms-auto me-4">
                    <a href="{% url 'logout' %}" class="btn custom-btn mt-3 mt-lg-4">Выход</a>
                </div>

            </div>
        </div>
    </nav>

    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12">

                    <h2 class="text-white">Прокачай свои знания до предела!</h2>
                </div>

            </div>
        </div>
    </header>


    <section class="section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h3 class="mb-4">Все тесты</h3>
                </div>

                <div class="col-lg-8 col-12 mt-3 mx-auto">
                    {% for test_set in test_sets %}
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5 text-center">

                            <div class="custom-block-topics-listing-info">
                                <div>
                                    <h5 class="mb-2">{{ test_set.title }}</h5>

                                    <p class="mb-0">{{ test_set.description }}</p>

                                    <button class="btn custom-btn mt-3 mt-lg-4 open-modal-btn"
                                            data-test-title="{{ test_set.title }}"
                                            data-test-description="{{ test_set.description }}"
                                            data-test-id="{{ test_set.id }}">Пройти
                                    </button>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <div class="col-lg-12 col-12">
                    <!-- Pagination code -->
                </div>

            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll('.open-modal-btn');

            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const testId = this.getAttribute('data-test-id');
                    window.location.href = `/test/${testId}/`;
                });
            });
        });
    </script>


{% endblock %}
